:root {
    --pink-color: #F24B88;
    --pink-color-2: #59253E;
    --dark-color: #332F3C;
    --dark-color-1: #1F1C26;
    --dark-color-2: #0D0D0D;
    --bright-color: #F2F2F2;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}

a {
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 1px;
    color: var(--bright-color);
    text-transform: uppercase;
}

.logo {
    border: 2px solid var(--bright-color);
    padding: 30px 20px;
}

.large-txt {
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 700;
    color: var(--bright-color);
    line-height: 24px;
    text-align: center;
}

.pink-clr {
    color: var(--pink-color);
}

.moto {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 3.5px;
    text-align: center;
    color: var(--bright-color);

}

.active {
    border-bottom: 5px solid var(--pink-color-2);
}

.login {
    display: flex;
    text-transform: uppercase;
}

.login-btn {
    background: var(--pink-color);
    padding: 0 5px;
}

.sign-in {
    border: 1px solid var(--bright-color);
    padding: 0 5px;
}